@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }

  
.zzzz {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(249%2c 249%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M185.98799152640353 78.9203900742082L89.62715021942775-58.69715336634238-47.990393221122844 37.66368794063341 48.370448085852956 175.281231381184z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-75.97316260778051 58.30360012210114L44.87592384911298 175.00620635921257 161.57853008622442 54.157119902319074 40.729443629330916-62.54548633479235z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M101.14435569428869-68.03309788588594L-51.11535252786848 2.966770086551577 19.884515444569033 155.22647830870875 172.1442236667262 84.22661033627124z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1419.935%2c200.302C1462.43%2c201.139%2c1507.3%2c191.404%2c1530.179%2c155.584C1554.594%2c117.359%2c1555.324%2c65.976%2c1529.584%2c28.63C1506.368%2c-5.053%2c1460.692%2c-7.889%2c1419.935%2c-4.366C1386.122%2c-1.443%2c1357.56%2c16.806%2c1338.843%2c45.117C1317.465%2c77.452%2c1299.011%2c117.031%2c1316.963%2c151.386C1335.825%2c187.483%2c1379.215%2c199.5%2c1419.935%2c200.302' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1257.7742121398169 94.59109614015009L1406.1094077401167 173.46231868817966 1484.9806302881461 25.127123087879923 1336.6454346878465-53.74409946014967z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1502.6347614719373 113.86203930660156L1447.9393115231348-44.985081394083664 1289.0921908224498 9.710368554718713 1343.787640771252 168.55748925540394z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M182.88007055600175 540.3822747766854L101.43205435461712 393.44616397726696-45.504056444801364 474.8941801786516 35.94395975658327 621.83029097807z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M49.09200621560334 635.8123736380502L173.94033689580553 523.3984317697619 61.52639502751733 398.5501010895598-63.321935652684864 510.964042957848z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-125.11 498.43 a175.54 175.54 0 1 0 351.08 0 a175.54 175.54 0 1 0 -351.08 0z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1288.79 412.53 a3.74 3.74 0 1 0 7.48 0 a3.74 3.74 0 1 0 -7.48 0z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1400.934%2c614.841C1432.447%2c614.55%2c1456.42%2c589.335%2c1471.182%2c561.492C1484.905%2c535.61%2c1486.639%2c505.266%2c1472.687%2c479.507C1458.025%2c452.438%2c1431.659%2c433.721%2c1400.934%2c431.793C1366.398%2c429.625%2c1328.437%2c439.127%2c1311.676%2c469.401C1295.255%2c499.062%2c1310.665%2c533.917%2c1328.398%2c562.812C1345.079%2c589.993%2c1369.043%2c615.136%2c1400.934%2c614.841' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1219.95 481.38 a141.43 141.43 0 1 0 282.86 0 a141.43 141.43 0 1 0 -282.86 0z' fill='rgba(233%2c 5%2c 5%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: contain;
}

@keyframes background{
    100%{
      background-size: 4000px 1000px;
    }
  }
  .login-new{
    
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0e0_zAPC4-x1ETc6lFIZFqgmwzw-mm3WJqE3QwMmeEjaNztw6qh6DQcljqrpe3a0ALtE&usqp=CAU'); */
    color: #f9f9f9;
    font-family: "Eulid Circular A";
    animation: background 10s infinite alternate linear;
  }
  @media(width>=500px){
      body{
        padding: 0;
      }
  }
  
  .login{
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: #161616;
    text-align: center;
  }
  @media(width>=450px){
    .login{
      width: 380px;
    }
  }
  .avatar{
    margin: 0 auto 16px;
    border-radius: 50%;
    background: linear-gradient(-45deg,#e11515,#ffa1a1);
    padding: 2px;
    width: 120px;
    height: 120px;
  }
  .avatar> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #161616;
  }
  .login>h2{
    font: 36px;
    font-weight: 500;
    margin: 0 0 4px;
  }
  .login>h3{
    color: rgba(255,255,255,.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
  
  }
  .login-forms{
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;
  
  }
  .textbox{
    width: 100%;
    position: relative;
  }
  
  .textbox span{
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: rgba(255,255,255,.38);
  }
  .login-forms input, .login-forms button{
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius:8px ;
  }
  .login-forms input{
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.1);
    font-size: 18px;
    padding: 0 20px 0 50px;
    color: inherit;
  
  }
  .login-forms input:focus{
    border-color: #e11515;
  }
  .login-forms input:focus ~span{
    color: #e11515;
  }
  .login-forms button{
    cursor: pointer;
    background: #e11515;
    color: #f9f9f9;
    border:0;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .login-forms a{
    color: #e11515;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
  }
  .login-forms .submit{
    width: 100px;
  }


